<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Components Basics</title>
</head>
<body>
    <div id="app">
        <!-- 组件可多次复用 -->
        <button-counter></button-counter>
        <!-- 每个组件都会各自独立维护它的 count -->
        <button-counter></button-counter>
        <!-- 每用一次组件，就会有一个它的新实例被创建 -->
        <button-counter></button-counter>
        <blog-post title="My journey with Vue"></blog-post>
        <blog-post title="Blogging with Vue"></blog-post>
        <blog-post title="Why Vue is so fun"></blog-post>
        <blog-post2
        v-for="post in posts"
        v-bind:key="post.id"
        v-bind:post="post"
        ></blog-post2>
        <div :style="{ fontSize: postFontSize + 'em' }">
            <blog-post3
                v-for="post in posts"
                v-bind:key="post.id"
                v-bind:post="post"
                v-on:enlarge-text="postFontSize += 0.1"
            ></blog-post3>
        </div>
        <div :style="{ fontSize: postFontSize + 'em' }">
            <blog-post4
                v-for="post in posts"
                v-bind:key="post.id"
                v-bind:post="post"
                v-on:enlarge-text="postFontSize += $event"
            ></blog-post4>
        </div>
        <!-- 在组件上使用 v-model -->
        <input v-model="searchText">
        <!-- 等价于 <input v-bind:value="searchText" v-on:input="searchText = $event.target.value"> -->
        <custom-input v-model="searchText"></custom-input>
        <alert-box>
            Something bad happened.
        </alert-box>
        <!-- 动态组件 通过 Vue 的 <component> 元素加一个特殊的 is 特性来实现 -->
        <component v-bind:is="currentTabComponent"></component>
        <!-- 组件会在 `currentTabComponent` 改变时改变 -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        // 全局注册 定义一个名为 button-counter 的新组件
        Vue.component('button-counter', {
            // 一个组件的 data 选项必须是一个函数，因此每个实例可以维护一份被返回对象的独立的拷贝
            data: function () {
                return {
                    count: 0
                }
            },
            template: '<button v-on:click="count++">You clicked me {{ count }} times.</button>'
        });
        // 通过 Prop 向子组件传递数据
        Vue.component('blog-post', {
            // 用一个 props 选项将其包含在该组件可接受的 prop 列表中
            props: ['title'],
            template: '<h3>{{ title }}</h3>'
        });
        Vue.component('blog-post2', {
            props: ['post'],
            template: `
                <div class="blog-post2">
                <h3>{{ post.title }}</h3>
                <div v-html="post.content"></div>
                </div>
            `
        });
        // 监听子组件事件
        Vue.component('blog-post3', {
            props: ['post'],
            template: `
                <div class="blog-post3">
                <h3>{{ post.title }}</h3>
                <button v-on:click="$emit('enlarge-text')">
                    Enlarge text
                </button>
                <div v-html="post.content"></div>
                </div>
            `
        });
        // 使用事件抛出一个值
        Vue.component('blog-post4', {
            props: ['post'],
            template: `
                <div class="blog-post4">
                <h3>{{ post.title }}</h3>
                <button v-on:click="$emit('enlarge-text', 0.1)">
                    Enlarge text
                </button>
                <div v-html="post.content"></div>
                </div>
            `
        });
        Vue.component('custom-input', {
            props: ['value'],
            template: `
                <input
                v-bind:value="value"
                v-on:input="$emit('input', $event.target.value)"
                >
            `
        });
        Vue.component('alert-box', {
            template: `
                <div class="demo-alert-box">
                <strong>Error!</strong>
                <slot></slot>
                </div>
            `
        });
        // 在一个通过 new Vue 创建的 Vue 根实例中，把这个组件作为自定义元素来使用
        new Vue({
            el: '#app',
            data: {
                posts: [
                    { id: 1, title: 'My journey with Vue' },
                    { id: 2, title: 'Blogging with Vue' },
                    { id: 3, title: 'Why Vue is so fun' }
                ],
                postFontSize: 1,
                searchText: ''
            }
        });
    </script>
</body>
</html>